.thumbnail{
	display: block;
	width: 50%;
	/*height: 150px;*/
	margin: 0 auto;
	margin-top: 20px;
	background-color: #F8F8F8;
}
/*.thumbnail p{
	margin: 0 !important;

	padding: 0 !important;
}*/
.date{
	font-size: .9em;
	color: #BABABA;
}
.thumbnail a{
	position: relative;
	text-decoration: none;
	top: 0px;
	left: 95%; 
	margin-right: 15px;
}
.well a{
	/*float: right;*/
	position: relative;
	text-decoration: none;
	top: 0px;
	left: 98%;
}
#classes-container{
	width: 100%;
	/*text-align: center;*/
	/*font-size: 1.1em;*/
}
#new-class{
	text-decoration: none;
	cursor: pointer;
	/*position: absolute;*/
	display: block;
	/*width: 100%;*/
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 10px;
}
.well{
	width: 50.5%;
	margin: 0 auto;
}
#classes-container input, #classes-container textarea{
	width: 80%;
	display: block;
	padding: 10px;
	margin: 0 auto;
	font-size: 1.2em;
}
.caption{
	width: 95%;
	margin: 0 auto;

}
.caption p{
	margin-bottom: 0 !important;
	padding: 0 !important;
	width: 80%;
	margin: 0 auto;
}
.caption .date{
	margin-top: 20px;
	margin-bottom: 10px !important;
}
.caption .title{
	font-size: 1.8em;
	font-weight: bold;
	border-bottom: solid 1px;
}
.caption .desc{
	margin-top: 15px;
}
.well input, .well textarea{
	margin-bottom: 20px !important;
}
#classes-container textarea{
	height: 100px;
}
#create, .update{
	margin-left: 10%;
	margin-bottom: 10px;
}