.thumbnail{
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
}
.thumbnail p{
	margin: 0 !important;

	padding: 0 !important;
}
.date{
	font-size: .9em;
	color: #BABABA;
}
.thumbnail a{
	display: inline-block;
	float: right;
	margin-right: 20px;
	text-decoration: none; 
}
#classes-container{
	/*text-align: center;*/
	/*font-size: 1.1em;*/
}
.unclicked{
	/*background-color: #F8F8F8;*/
	transition: all .3s ease;
	cursor: pointer;
}
.unclicked:hover{
	color: #0E0B16;
}
.clicked{
	background-color: white;
}
#new{
	color: #0D5FB5;
	text-align: center;
}
#classes-container input{
	margin-top: 40px !important;
}
#classes-container input, #classes-container textarea{
	width: 90%;
	display: block;
	padding: 10px;
	margin: 0 auto;
	font-size: 1.2em;
}
#classes-container textarea{
	height: 100px;
}
#create{
	margin-left: 5%;
}