<template name="navigationWelcome">
	<nav class="navbar navbar-default" id="navigation-welcome">
    	<div class="container-fluid">
    	<div class="navbar-header">
    	   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
    	     <span class="sr-only">Toggle navigation</span>
    	     <span class="icon-bar"></span>
    	     <span class="icon-bar"></span>
    	     <span class="icon-bar"></span>
    	   </button>
           <div class="logo-img"></div>
    	   <a class="navbar-brand welcome" href="{{pathFor route='homeInstructor'}}" id="logo">
                <span>HUMMING</span><span class="grape">BIRD</span>
           </a>
    	 </div>
    	<div id="main-menu" class="collapse navbar-collapse">
	        <ul class="nav navbar-nav navbar-right">
                <li><button id='sign-in' type="button" class="btn btn-primary" onclick="this.blur();">SIGN IN</button></li>
	     	</ul>
    	</div>
    	</div>
	</nav>
</template>