.thumbnail{
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	background-color: white;
}
.date{
	font-size: .9em;
	color: #BABABA;
}
.thumbnail .control{
	position: relative;
	text-decoration: none;
	top: 0px;
	left: 95%; 
	margin-right: 15px;
}
.well a{
	position: relative;
	text-decoration: none;
	top: 0px;
	left: 98%;
}
#classes-container{
	width: 100%;
	height: 100%;
	position: absolute !important;
	margin: 0 !important;
	padding: 0 !important;
	top: 80px !important;
	background: repeating-linear-gradient(
	  45deg,
	  #F0F0F0,
	  #F0F0F0 640px,
	  #E3E3E3 640px,
	  #E3E3E3 1280px
	);
}
#new-class{
	cursor: pointer;
	display: block;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	letter-spacing: 4px;
	padding-bottom: 10px;
	transition: all.3s ease;
	color: #142C3E;
}
#new-class:hover{
	color: #8996A0;
}
.well{
	width: 50.5%;
	margin: 0 auto;
	background-color: #CCD4D5;
	border: none;
}
#classes-container input, #classes-container textarea{
	width: 80%;
	display: block;
	padding: 10px;
	margin: 0 auto;
	font-size: 1.3em;
	border: solid 1px;
	background-color: transparent;
	border-color: #142C3E !important;
	outline: none;
}
#classes-container input{
	border: none;
	border-bottom: solid 1px;
}
.caption{
	width: 95%;
	margin: 0 auto;

}
.caption p{
	margin-bottom: 0 !important;
	padding: 0 !important;
	width: 85%;
	margin: 0 auto;
	color: black;
}
.caption .date{
	font-size: 1.1em;
	font-weight: bold;
	float: left;
	/*display: inline-block;*/
	/*margin-left: 7.5%;*/
	/*width: 20%;*/
	margin-top: 35px;
	/*margin-bottom: 10px !important;*/
}
.lecture-count{
	font-size: 1.1em;
	font-weight: bold;
	display: inline-block;
	width: 20%;
}
.caption .title{
	font-size: 1.7em;
	font-weight: bold;
	border-bottom: solid 2px;
	transition: all .3s ease;
	color: black;
	border-color: black;
}
.caption .desc{
	margin-top: 10px;
	margin-bottom: 10px;
}
.caption .title:hover{
	color: #BABABA;
}
.well input, .well textarea{
	margin-bottom: 20px !important;
}
#create, .update{
	margin-left: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #142C3E;
	font-weight: bold;
	/*font-size: 1.1em;*/
	border: none;
	transition: all .3s ease;
}
#create:hover, .update:hover{
	background-color: #6D7880;
}
.thumbnail{
	cursor: pointer;
}
.lecture-count{
	margin-left: 10%;
	padding: 10px;
	padding-left: 0;
}
.lecture-msg{
	display: inline-block;
	font-weight: bolder;
	font-size: .9em;
}
@media only screen and (max-width: 800px) {
  .lecture-count{
  }
  .title{
  	float: left;
  }
  #navigation-default{
  	z-index: 1;
  }
  .discard-create{
  	display: none !important;
  }
  .caption .desc{
  	float: left;
  	display: block;
  	margin-bottom: 0px !important;
  }
  .caption .date{
  	width: 50%;
  }
  .thumbnail .control{
  	position: relative;
  	left: 85%;
  }
}