/*background*/

#classes-bg{
	height: 100%;
	width: 100%;
	top: 0;
	z-index: -1;
	position: fixed;
	background: repeating-linear-gradient(
	  45deg,
	  #F0F0F0,
	  #F0F0F0 640px,
	  #E3E3E3 640px,
	  #E3E3E3 1280px
	);
}

/*classes container*/

#classes-container{
	width: 100%;
	display: none;
	position: absolute !important;
	margin: 0 !important;
	padding: 0 !important;
	top: 80px !important;
}

/*input and textarea content*/

#classes-container input, #classes-container textarea{
	width: 80%;
	display: block;
	padding: 10px;
	margin: 0 auto;
	font-size: 1.3em;
	border: solid 1px;
	background-color: transparent;
	border-color: #142C3E !important;
	outline: none;
}

/*edit some input styles*/

#classes-container input{
	border: none;
	border-bottom: solid 1px;
}

/*new class btn*/

#new-class{
	cursor: pointer;
	display: block;
	text-align: center;
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	padding-top: 20px;
	letter-spacing: 4px;
	padding-bottom: 10px;
	transition: all.3s ease;
	color: #142C3E;
}

/*class to be content*/

.well{
	width: 50.5%;
	margin: 0 auto;
	background-color: #CCD4D5;
	border: none;
	font-family: 'Raleway', sans-serif;
}
.well input, .well textarea{
	margin-bottom: 20px !important;
}

/*classes content*/

.thumbnail{
	cursor: pointer;
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	background-color: white;
}
/*edit/delete btns*/
.thumbnail .control{
	position: relative;
	text-decoration: none;
	top: 0px;
	left: 95%; 
	margin-right: 15px;
}
.caption{
	width: 95%;
	margin: 0 auto;

}
.caption p{
	margin-bottom: 0 !important;
	padding: 0 !important;
	width: 85%;
	margin: 0 auto;
	color: black;
}
.caption .date{
	font-size: 1.1em;
	font-weight: bold;
	float: left;
	font-family: 'Helvetica';
	margin-top: 35px;
}
.lecture-count{
	font-size: 1.1em;
	font-weight: bold;
	font-family: 'Helvetica';
	display: inline-block;
	width: 20%;
	margin-left: 10%;
	padding: 10px;
	padding-left: 0;
}
.caption .title{
	font-size: 1.7em;
	font-weight: bold;
	border-bottom: solid 2px;
	transition: all .3s ease;
	color: black;
	border-color: black;
}
.caption .desc{
	margin-top: 10px;
	margin-bottom: 10px;
}
.caption .title:hover{
	color: #BABABA;
}

/*create and update buttons*/

#create, #update{
	margin-left: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #142C3E;
	font-weight: bold;
	border: none;
	transition: all .3s ease;
}
#create:hover, .update:hover{
	background-color: #6D7880;
}

/*class edit content*/

#class-edit{
	position: absolute;
	right: 0;
	left: 0;
	top: 30%;
	margin: 0 auto;
	width: 100%;
	display: none;
	z-index: 4;
}
#class-edit input, #class-edit textarea{
	margin-bottom: 20px;
	color: black !important;
}

/*Mobile*/

@media only screen and (max-width: 800px) {
  #navigation-default{
  	z-index: 1;
  }
  /*hide discard btn*/
  .discard-create{
  	display: none !important;
  }
  /*adjsut title*/
  .title{
  	float: left;
  }
  /*adjust content*/
  .caption .desc{
  	float: left;
  	display: block;
  	margin-bottom: 0px !important;
  }
  .caption .date{
  	width: 50%;
  }
  .thumbnail .control{
  	position: relative;
  	left: 85%;
  }
}