#navigation-welcome{
  background-color: transparent;
  border: none;
  font-family: 'Raleway', sans-serif;
}
#navigation-default{
  background-color: black;
  border: none;
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding: 30px;
    font-size: 1.3em;
    padding-top: 0;
    transition: all .4s ease;
    color: white !important;
}
.navbar-nav li a:hover{
   background-color: #414242 !important;

}
.dropdown-menu li a{
  height: 30px;
  line-height: 30px;
  font-size: .95em;
  color: black !important;
  /*font-weight: bold;*/
  text-align: center;
}
.dropdown-menu li a:hover{
  margin-left: 20px;
  background-color: #F8F8F8 !important;
}
.dropdown-menu {
  background-color: #F8F8F8;
  width: 265px;
}
.open{
  background-color: #414242 !important;
}
#sign-in{
  position: relative;
  margin-top: 19%;
  margin-right: 10px;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  transition: all .3s ease;
  color: white;
  border-color: white;
  border-radius: 0px;
}
#sign-in:hover{
  background-color: #04B9A9;
}
.dropdown-menu li .sign-out:hover{
  color: red !important;
  margin-left: 20px;
  background-color: #F8F8F8 !important;
  /*color: white !important;*/
}
.btn:focus,.btn:active {
   outline: none !important;
}
@media only screen and (max-width: 800px) {
    #navigation-welcome{
      background-color: black;
    }
    .navbar-brand,
    .navbar-nav li a {
        line-height: 80px;
        height: 80px;
        font-size: 2.5em !important;
        padding: 10px;
        padding-top: 0px;
        background-color: black;
    }
    #sign-in{
      margin-top: 0px;
      border: none;
    }
    .navbar-nav{
      background-color: black;
    }
}
.navbar-toggle{
  background-color: black !important;
  color: white !important;
  margin-top: 20px;
  margin-right: 25px;
  transform: scale(1.4);
}
#logo{
  color: white !important;
}