/*welcome nav*/

#navigation-welcome{
  background-color: #A51C30;
  border: none;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}

/*default nav*/

#navigation-default{
  background-color: #A51C30;
  border: none;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  padding-left: 30px;
}

/*brand and links*/

.navbar-brand,
#navigation-welcome .navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding: 30px;
    font-size: 1.8em !important;
    letter-spacing: 4px;
    padding-top: 0;
    padding-left: 0;
    transition: all .4s ease;
    color: white !important;
}
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding: 30px;
    font-size: .9em;
    letter-spacing: 3px;
    font-weight: bold;
    padding-top: 0;
    transition: all .4s ease;
    color: white !important;
}
.navbar-nav li a:hover{
   background-color: #C7223A !important;

}
.navbar-nav li a .glyphicon{
  font-size: 1.3em;
}
.navbar-toggle{
  background-color: #A51C30 !important;
  margin-top: 20px;
  margin-right: 25px;
  transform: scale(1.4);
}
#logo{
  color: white !important;
}
.logo-img{
  background: url('/img/logo-2.png');
  height: 70px;
  width: 70px;
  margin-right: 3px;
  transform: rotate(-15deg);
  background-size: cover;
  float: left;
}
#dd-control{
  cursor: pointer;
}
/*dropdown menu*/

.dropdown-menu li a{
  height: 30px;
  line-height: 30px;
  font-size: .95em;
  color: black !important;
  text-align: center;
}
.dropdown-menu li a:hover{
  margin-left: 20px;
  background-color: #F8F8F8 !important;
}
.dropdown-menu {
  background-color: #F8F8F8;
  width: 300px;
}
.open{
  background-color: #414242 !important;
}
.dropdown-menu li .sign-out:hover{
  color: #A51C30 !important;
  margin-left: 20px;
  background-color: #F8F8F8 !important;
}
/*sign in button*/

#sign-in{
  position: relative;
  margin-top: 19%;
  margin-right: 10px;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  letter-spacing: 3px;
  transition: all .3s ease;
  color: white;
  background-color: #781423;
  border: none;
}
#sign-in:hover{
  background-color: #5C0C18;
}
.btn:focus,.btn:active {
   outline: none !important;
}

/*class to color elements*/

.crimson{
  color: #6A121F !important;
}

/*Mobile*/

@media only screen and (max-width: 800px) {
    /*adjust menu*/
    #navigation-welcome{
      background-color: #A51C30;
      padding: 15px !important;
    }
    .navbar-nav{
      background-color: #A51C30;
    }
    /*adjust menu items*/
    .navbar-brand,
    .navbar-nav li a {
        line-height: 80px;
        height: 80px;
        font-size: .9em !important;
        padding: 10px;
        padding-top: 0px;
    }
    .navbar-brand{
      font-size: 1.2em !important;
    }
    #sign-in{
      margin-top: 10px;
      border: none;
    }
    .logo-img{
      display: none;
    }
}

