.welcome{
	font-size: 3em;
  font-family: 'Raleway', sans-serif;
  color: white !important;

}
.home{
  font-family: 'Raleway', sans-serif;
  font-size: 2.2em;
  color: #428bca !important;
}

#user-form{
  display: none;
  position: absolute;
  left:0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
  z-index: 9999;
  background-color: white;
  margin: 0 auto;
  color: #BABABA;
  font-size: 1.3em;
  border-radius: 7px;
}
#user-form input{
  height: 60px;
  border-radius: 0px;
  font-size: 1.1em;
  font-weight: lighter;
}
#user-form label{
  display: none;
}
#user-form a{
  color: #7BB5F1;
  margin-top: 10px;
  margin-bottom: 10px;
}
#user-form h3{
  display: none;
}
#user-form button{
  background-color: #a51c30;
  color: white;
  border: none;
  font-weight: bold;
  transition: all .3s ease;
  height: 60px;
  border-radius: 5px;
}
#user-form button:hover{
  background-color: #841626;
}
#at-facebook{
  border-radius: 5px;
  font-weight: bold;
  height: 60px;
}
.btn-outline {
    background-color: transparent;
    color: #2D5E88;
    transition: all .5s ease;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
#welcome-container{
  overflow: hidden;
}
#welcome-container{
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  top: 0;
  background: url("/img/bg-pattern.png");
  background: url("/img/bg-pattern.png"), -webkit-linear-gradient(135deg, #011A27, #DBDBDB);
  background: url("/img/bg-pattern.png"), linear-gradient(135deg, #011A27, #405462);
  background-color: #142C3E;
  z-index: -1;
  font-family: 'Raleway', sans-serif;
  transition: all .5s ease;
}
#welcome-title{
  font-weight: 900;
  font-size: 4em;
  color: white;
  position: relative;
  transform: translateY(-500%);
  display: inline-block;
}

.marvel-device{
  top: 10%;
  transform: scale(.7);
  -webkit-box-reflect: below 0px
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent) , to(rgba(250, 250, 250, 0.15)));
}
.screen{
  background: url('/img/screen.jpeg');
  background-size: cover;
}
@media only screen and (max-width: 800px) {
  h1{
    text-align: left;
    margin-left: 30px;
    font-size: 4em;
  }
  #user-form{
    width: 80%;
  }
  .marvel-device{
    display: none !important;
  }
  .logo-img{
    display: none;
  }
  #welcome-title{
  font-weight: 900;
  font-size: 3em;
  color: white;
  top: 125% !important;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
  }
  #navigation-welcome{
    padding: 15px !important;
  }
  .navbar-brand{
    font-size: 1.7em !important;
  }
  #sign-in{
    margin-top: 10px;
  }
}