/*Welcome Page Container */

#welcome-container{
  overflow: hidden;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  top: 0;
  background: url("/img/bg-pattern.png");
  background: url("/img/bg-pattern.png"), -webkit-linear-gradient(135deg, #011A27, #DBDBDB);
  background: url("/img/bg-pattern.png"), linear-gradient(135deg, #011A27, #405462);
  background-color: #142C3E;
  z-index: -1;
  font-family: 'Raleway', sans-serif;
  transition: all .5s ease;
}

/*Welcome Content*/

#welcome-title{
  display: none;
  font-weight: 900;
  font-size: 3em;
  text-align: center;
  margin-left: 19%;
  color: white;
  margin-top: 200px;
  position: relative;
  width: 35%;
}
#welcome-message{
  display: none;
  margin-left: 19%;
  width: 35%;
  margin-top: 30px;
  text-align: justify;
  color: white;
  font-size: 1.4em;
  line-height: 1.8;
}
.marvel-device{
  display: none;
  position: absolute !important;
  transform: scale(.7);
  top: 100px !important;
  left: 58%;
  -webkit-box-reflect: below 0px
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent) , to(rgba(250, 250, 250, 0.15)));
}
.screen{
  background: url('/img/screen.jpeg');
  background-size: cover;
}

/*Login/Register Form */

#user-form{
  display: none;
  position: absolute;
  left:0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
  z-index: 9999;
  background-color: white;
  margin: 0 auto;
  color: #BABABA;
  font-size: 1.3em;
  border-radius: 7px;
  font-family: 'Raleway', sans-serif;
}
#user-form input{
  height: 60px;
  border-radius: 0px;
  font-size: 1.1em;
  font-family: 'Helvetica';
  font-weight: lighter;
}
#user-form label{
  display: none;
}
#user-form a{
  color: #7BB5F1;
  margin-top: 10px;
  margin-bottom: 10px;
}
#user-form h3{
  display: none;
}
#user-form button{
  background-color: #a51c30;
  color: white;
  border: none;
  font-weight: bold;
  transition: all .3s ease;
  height: 60px;
  border-radius: 5px;
  text-align: center;
}
#user-form button:hover{
  background-color: #841626;
}
#at-facebook{
  border-radius: 5px;
  font-weight: bold;
  height: 60px;
}

/*Mobile*/

@media only screen and (max-width: 800px) {
  /*Adjust Content*/
  #welcome-message{
    width: 80%;
    position: absolute;
    right: 0;
    left: 0;
    font-size: .95em !important;
    top: 26% !important;
    margin: 0 auto;
  }
  #welcome-title{
    font-size: 3em;
    width: 90%;
    top: 20%;
    font-size: 1.5em !important;
    margin: 0 auto;
  }
  /*Expand form*/
  #user-form{
    width: 80%;
  }
  #user-form button{
    font-size: .6em;
    letter-spacing: 1px;
  }
  /*Hide phone*/
  .marvel-device{
    display: none !important;
  }
}