<template name = "classes">
    <div id="classes-container">
      <a onclick="this.blur();" id="new-class" data-toggle="collapse" href="#create-container" aria-expanded="false" aria-controls="create-container"><span class="glyphicon glyphicon-plus"></span> &nbsp; Create Class</a>
      <div  class="collapse" id="create-container">
        <div class="well">
          <div class="caption">
            <a href="#" class="discard-create"><span class="glyphicon glyphicon-remove"></span></a>
            <input class="class-title-create" type="text" placeholder="Class Title">
            <textarea class="class-desc-create" placeholder="Class Description"></textarea>
            <button id="create" type="button" class="btn btn-primary" onclick="this.blur();"><span class="glyphicon glyphicon-plus"></span> &nbsp;Create</button>
          </div>
        </div>
      </div>
      {{#each class in classes}}
        <div class="row">
            <div class="thumbnail" id='{{class._id}}'>
              <div class="caption">
                <a href="#" class="delete control"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#" class="edit control"><span class="glyphicon glyphicon-pencil"></span></a>
                <p class="title">{{class.title}} &nbsp;&nbsp;&nbsp; <a class="lecture-count"><span class="glyphicon glyphicon-book small-icon"></span> LECTURES - {{class.lectures}}</a></p>
                <p class="desc">{{class.desc}}</p>
                {{#if class.updated}}
                  <p class= "date">Updated on: {{class.updated}}</p>
                {{else}}
                  <p class= "date">Created on: {{class.date}}</p> 
                {{/if}}
              </div>
            </div>
        </div>
      {{/each}}
    </div>
</template>