<template name="questionsPage">
{{>navigationStudent}}
<div  class="collapse" id="new-question-ask">
  <div class="well">
    <div class="caption">
      <a href="#" id="discard-new-question"><span class="glyphicon glyphicon-remove"></span></a>
      <input id="question-input" type="text" placeholder="What would you like to ask?">
      <button id="new-question-submit" type="button" class="btn btn-primary" onclick="this.blur();">Ask</button>
    </div>
  </div>
</div>
{{#each question in questions}}
  <div class="row">
      <div class="thumbnail" id='{{question._id}}'>
        <div class="caption">
        	<div class="question-menu">
          {{#if question.isOwned}}
        	<a href="#" class="question-control question-menu-dd" id="{{question.id}}" onclick="this.blur();"><span class="glyphicon glyphicon-menu-down"></span></a>
          {{/if}}
          	<a href="#" class="question-control like" onclick="this.blur();"><span class="glyphicon glyphicon-star-empty"></span></a>
        	<p class="like-count">15</p>
        	<div class="question-edit">
          		<span class="glyphicon glyphicon-remove question-item-delete"></span> 
          		<span class="glyphicon glyphicon-pencil question-item-edit"></span> 
          	</div>
          </div>
          <p class="question">{{question.text}}</p> 
        	{{#if question.updated}}
        	<p class="question-date">{{question.updatedOn}} (edited)</p>
        	{{/if}}
        	{{#if question.date}}
        	<p class="question-date">{{question.datePosted}}</p>
        	{{/if}} 
        </div>
      </div>
  </div>
  {{/each}}
  <div class="row">
      <div class="thumbnail" id='question-edit'>
        <div class="caption">
          	<span class="glyphicon glyphicon-remove question-edit-discard"></span>
        	<input id="question-edit-input" type="text">
        	<button id="question-edit-submit" type="button" class="btn btn-primary" onclick="this.blur();"><span class="glyphicon glyphicon-ok"></span> Update</button>
        </div>
      </div>
  </div>
  <div class = "mask"></div>
</template>
