<template name="welcome">
	{{> navigationWelcome }}
	<div id="welcome-container">
		<p id="welcome-title">Empower Your Students</p>
		<p id="welcome-message">Hummingbird is designed to enrich the educational experience of students and instructors alike. As an instructor you can create Classes, add Lectures, and share live Question Pages where students can comfortably ask questions and interact with each other. Question Pages come with cool features! Ask students questions on-the-go (under development), ask Wolfram Alpha a question, and view lecture-specific YouTube video recommendations. </p>
	</div>
	<div class="marvel-device iphone6 silver">
	    <div class="top-bar"></div>
	    <div class="sleep"></div>
	    <div class="volume"></div>
	    <div class="camera"></div>
	    <div class="sensor"></div>
	    <div class="speaker"></div>
	    <div class="screen">
	    </div>
	    <div class="home"></div>
	    <div class="bottom-bar"></div>
	</div>
	<div class = "mask"></div>
</template>