<template name="welcome">
	{{> navigationWelcome }}
	<div id="welcome-container">
		<p id="welcome-title">The new way to ask.</p>
		<div class="marvel-device iphone6 silver">
		    <div class="top-bar"></div>
		    <div class="sleep"></div>
		    <div class="volume"></div>
		    <div class="camera"></div>
		    <div class="sensor"></div>
		    <div class="speaker"></div>
		    <div class="screen">
		    </div>
		    <div class="home"></div>
		    <div class="bottom-bar"></div>
		</div>
		
	</div>

	<div class = "mask"></div>
</template>